/*Imported font link*/
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Oi&display=swap');


/*CSS variables which are globally accessible to the entire CSS file*/
:root{
    --secondary-font: "Oi", serif;
    --primary-font:"Fontdiner Swanky", serif;
    --primary-color: #162e2c;
    --secondary-color:#285A48;
    --highlight-color:#408A71;
    --highlight-color-light:#B0E4CC;
    --primary-font-size:large;
    
}


/*testing the CSS variables*/
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--primary-font-size);
}

h1,
h2,
h3{
    font-family: var(--secondary-font);
    color:var(--primary-color);
    text-transform: uppercase;
}

/*Card headings style*/
#main-attractions h1,
h2,
h3{
    text-transform: none;
}

/*Font style for subheadings of cards*/
#main-attractions .lead{
    font-family: var(--primary-font);
}

#main-attraction .card-body{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sub-heading-color{
    color: var(--highlight-color);
}

/*reusable for sections all webpages*/
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*styling for the navbar*/
#navbar{
    background-color: var(--primary-color);
}

#navbar .logo{
    width: 30px;
}

/*Header text*/
#header .lead{
    font-family: var(--primary-font);
}

/*card styling*/


/*Checking layout and borders*/
/*
.container{
    border: 2px solid black;
}

.col-12{
    background-color: lightgrey;
    border: 2px solid white;
}

.col-5{
    background-color: lightgrey;
    border: 2px solid white;
}
*/    

