/*Imported font link*/
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Oi&display=swap');

/*CSS variables which are globally accessible to the entire CSS file*/
:root{
    --secondary-font: "Oi", serif;
    --primary-font:"Fontdiner Swanky", serif;
    --primary-color: #162e2c;
    --secondary-color:#285A48;
    --highlight-color:#408A71;
    --highlight-color-light:#B0E4CC;
    --primary-font-size:large;
    --title-heading-colour:#1B6267;
    
}

/*global style*/
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--primary-font-size);
    color: var(--primary-color);
    padding-top:59px; /*So that the navbar doesn't overlap with the body element*/
}
h1{
    font-family: var(--secondary-font);
    color:var(--primary-color);
    text-transform: uppercase;
}

/*Card headings style & sub-headings*/
h2,
h3{
    text-transform: none;
    font-family: var(--secondary-font);
}

/*Setting explicit height and width for carousel and card images*/
#header img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

/*general style for subheadings and layouts of cards*/
#main-attractions .lead{
    font-family: var(--primary-font);
}
#main-attractions .card{
   border-radius: 0;
   border: none;
   
}
#main-attractions img{
    width: 478px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover; /*Trying to improve loading time for images*/
    border-radius: 0%;
}

/*Style for input fields on tickets*/
#booking-form .square{
   width: 25%;
   border-radius: 0%;
   border: 2px solid var(--primary-color);
}
#booking-form .form-control{
    border-radius: 0%;
    border: 2px solid var(--primary-color);
}

/*Editing info for ticket-fare table*/
#ticket-prices .extra-table-info{
    border: none;
    background-color: var(--highlight-color-light);
    color:var(--primary-color);
    padding-left:1rem;
    padding-right:1rem;
}

/*Resized the ticket icon image for better responsiveness*/
#ticket-prices img{ 
    height: 250px;
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
}

/*Edited the table for better contrast and design*/
#ticket-prices .table{
    background-color: var(--primary-color);
}
#ticket-prices .table-light *{
    background-color: transparent;
    color:white;
}

/*button styling*/
.custom-button-filled{
    background-color: var(--highlight-color-light);
    color:var(--primary-color);
    border-radius: 0%;
}
.custom-button-filled:hover{
    border: 2px solid var(--highlight-color-light);
    background-color: none;
    color:var(--highlight-color-light);
}
.custom-button-outlined{
    border: 2px solid var(--primary-color);
    color:var(--primary-color);
    border-radius: 0%;
}
.custom-button-outlined:hover{
    background-color: var(--primary-color);
    color:var(--highlight-color-light);
}

/*styling for success page*/
#success .lead{
    font-family: var(--primary-font);
}

/*Subheadings colour font*/
.sub-heading-color{
    color: var(--highlight-color);
}

/*Heading colour for better contrast*/
.new-sub-heading-colour{
    color: var(--title-heading-colour);
}

/*reusable for sections all webpages*/
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*styling for the navbar*/
#navbar{
    background-color: var(--primary-color);  
}
#navbar .logo{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

/*Header text*/
#header .lead{
    font-family: var(--primary-font);
}

/*Footer styling*/
#logo-footer{
    background-color: var(--primary-color);
}
#logo-footer .lead{
    font-family: var(--primary-font);
}
#logo-footer .sub-heading-color{
    color: white;
}
#logo-footer .table{
    width: 75%;
    margin: auto;
}
#logo-footer .table-dark *{
    background-color: transparent;
}
#logo-footer .social-links{
    font-size: 50px;  
}
#logo-footer .social-links a{
    text-decoration: none;
}
#logo-footer .social-links svg{
    margin-left:12px;
    color:var(--highlight-color-light);
}
#logo-footer img{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/*To indicate that the user can click on the buttons*/
#logo-footer .social-links svg:hover{
    color: white;
    font-size: 60px;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition: font-size 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
    
}

/*Media queries for the cards*/

/*For phone/tablet screen sizes*/
@media screen and (min-width:356px){
     #main-attractions .img-fluid{
        margin: auto;
        display: block;
    }
}
@media screen and (min-width:522px) {
    #main-attractions .img-fluid{
        margin: auto;
        display: block;
    }
}
@media screen and (min-width:768px) {
    #main-attractions .img-fluid{
        margin: 0;
        
    }
    
   
}
@media screen and (max-width:766px) {
    #booking-form .square{
        margin: auto;
    }
}

/*For larger screens*/
@media screen and (min-width:992px) {
    #main-attractions .card-body{
        min-height: 226px;
    }  
    #main-attractions .img-fluid{
        margin: auto;
        display: block;
    } 
     #ticket-prices .table-edit{
        width:75%;
        margin: auto;
    }
    #ticket-prices .extra-table-info{
        width:100%;
        margin: auto;
    }
}

/*Desktop size and bigger*/
@media screen and (min-width:1200px) {
    #main-attractions .img-fluid{
        margin: 0;
        
        
    }
    #main-attractions .first{
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }
    #main-attractions .second{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    #main-attractions .second-image{
        margin-left:auto;
    }
    #main-attractions .card{
        border-radius: 0;
        border-bottom: 1px solid #162e2c;
   
    }

    #ticket-prices .table-edit{ /*Shrink the table for larger screen sizes*/
        width:50%;
    }
    #ticket-prices .num-1{
        -webkit-box-ordinal-group:1;
            -ms-flex-order:0;
                order:0;
    }
    #ticket-prices .num-2{
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1;
    }
    #ticket-prices .num-3{
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
    }
     #ticket-prices .extra-table-info{
        width:100%;
        margin-top: 1rem;
    }

}
